In [7]:
from dateutil.parser import parse
import pandas as pd

In [8]:
data = pd.read_csv('C:/Users/Mazedur Rahman/Desktop/monthly-sunspots.csv',parse_dates=['Month'])
data.head()

       Month  Sunspots
0 1749-01-01      58.0
1 1749-02-01      62.6
2 1749-03-01      70.0
3 1749-04-01      55.7
4 1749-05-01      85.0

In [9]:
data = pd.read_csv('C:/Users/Mazedur Rahman/Desktop/monthly-sunspots.csv',parse_dates=['Month'], index_col='Month')
data.head()

            Sunspots
Month
1749-01-01      58.0
1749-02-01      62.6
1749-03-01      70.0
1749-04-01      55.7
1749-05-01      85.0

In [10]:
data.index

DatetimeIndex(['1749-01-01', '1749-02-01', '1749-03-01', '1749-04-01',
               '1749-05-01', '1749-06-01', '1749-07-01', '1749-08-01',
               '1749-09-01', '1749-10-01',
               ...
               '1983-03-01', '1983-04-01', '1983-05-01', '1983-06-01',
               '1983-07-01', '1983-08-01', '1983-09-01', '1983-10-01',
               '1983-11-01', '1983-12-01'],
              dtype='datetime64[ns]', name='Month', length=2820, freq=None)

In [11]:
ts = data['Sunspots']
ts.head()

Month
1749-01-01    58.0
1749-02-01    62.6
1749-03-01    70.0
1749-04-01    55.7
1749-05-01    85.0
Name: Sunspots, dtype: float64

In [12]:
data = pd.read_csv('C:/Users/Mazedur Rahman/Desktop/monthly-sunspots.csv',parse_dates=['Month'], index_col='Month', squeeze=True)
data.head()

Month
1749-01-01    58.0
1749-02-01    62.6
1749-03-01    70.0
1749-04-01    55.7
1749-05-01    85.0
Name: Sunspots, dtype: float64

In [13]:
type(data)

pandas.core.series.Series

In [15]:
data['1749-01-01']

58.0

In [17]:
from datetime import datetime
data[datetime(1749,1,1)]

58.0

In [18]:
ts['1749-01-01':'1749-6-01']

Month
1749-01-01     58.0
1749-02-01     62.6
1749-03-01     70.0
1749-04-01     55.7
1749-05-01     85.0
1749-06-01     83.5
1749-07-01     94.8
1749-08-01     66.3
1749-09-01     75.9
1749-10-01     75.5
1749-11-01    158.6
1749-12-01     85.2
Name: Sunspots, dtype: float64

In [19]:
ts[:'1749-6-1']

Month
1749-01-01    58.0
1749-02-01    62.6
1749-03-01    70.0
1749-04-01    55.7
1749-05-01    85.0
1749-06-01    83.5
Name: Sunspots, dtype: float64

In [20]:
ts['1749']

Month
1749-01-01     58.0
1749-02-01     62.6
1749-03-01     70.0
1749-04-01     55.7
1749-05-01     85.0
1749-06-01     83.5
1749-07-01     94.8
1749-08-01     66.3
1749-09-01     75.9
1749-10-01     75.5
1749-11-01    158.6
1749-12-01     85.2
Name: Sunspots, dtype: float64

In [23]:
ts['1749-03']

Month
1749-03-01    70.0
Name: Sunspots, dtype: float64

In [25]:
ts1 = ts.sort_index()
ts1

Month
1749-01-01    58.0
1749-02-01    62.6
1749-03-01    70.0
1749-04-01    55.7
1749-05-01    85.0
              ...
1983-08-01    71.8
1983-09-01    50.3
1983-10-01    55.8
1983-11-01    33.3
1983-12-01    33.4
Name: Sunspots, Length: 2820, dtype: float64

In [26]:
ts['1983']

Month
1983-01-01    84.3
1983-02-01    51.0
1983-03-01    66.5
1983-04-01    80.7
1983-05-01    99.2
1983-06-01    91.1
1983-07-01    82.2
1983-08-01    71.8
1983-09-01    50.3
1983-10-01    55.8
1983-11-01    33.3
1983-12-01    33.4
Name: Sunspots, dtype: float64