In [1]:
from dateutil.parser import parse
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/Mazedur Rahman/Desktop/monthly-sunspots.csv',parse_dates=['Month'])
data.head()

       Month  Sunspots
0 1749-01-01      58.0
1 1749-02-01      62.6
2 1749-03-01      70.0
3 1749-04-01      55.7
4 1749-05-01      85.0

In [3]:
import matplotlib.pyplot as plt

In [4]:
# Time Plot
def plot_data(data, x,y, title='', xlable='Month',ylabel='Sunspots', dpi=100):
    plt.figure(figsize=(16,2), dpi=dpi)
    plt.plot(x,y, color='tab:red')
    plt.gca().set(title=title,xlabel=xlabel,ylabel=ylabel)
    plt.show()

SyntaxError: invalid syntax (<ipython-input-4-13b81ae88073>, line 2)